* {
  box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    color: white;
}
.web-title {
font-size: 1.4rem;
margin: .4,5rem;
}
.navbar-links {
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links li {
   list-style: none;
}
.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;

}
.navbar-links li:hover {
  background-color: #555;  
}

.hero-section {
background-size: cover;
    background-position: center;
    
}
.hero {
  height: 300px;
  background-color: #222;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}
.about {
padding: 60px;

}
.about-container {
    display: flex;
    gap: 40px;
    align-items: center;
}
.about-text {
    flex: 1;

}
.about-image {
    flex: 1;
}
.about-image img {
    width: 60%;
    height: auto;
    border-radius: 10px;
}
.about h2 {
    margin-bottom: 20px;
}
.about-text p {
    line-height: 1.6;
}
@media (max-width: 768px) {
   .about-container {
    flex-direction: column;
    text-align: center;
}
}
.gallary {
    padding: 60px;
    text-align: center;
}
.gallary-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;

}
.gallary-container img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;

}
.contact {
    max-width: 600px;
    margin: 60px auto;
    padding: 20px;
    text-align: center;
}
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}
.contact-form label {
    text-align: left;
    font-weight: bold;

}
.contact-form,
.contact-form textarea {
    padding: 10px;
    background-color: #00f;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.contact-form button {
    padding: 12px;
    background-color: #00f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}